/* ==========================================
   style.css
   Author: Saddam Arbaa
========================================== */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*====== Header  ======*/

.page__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  color: white;
  background: url("../assets/banner.jpeg") no-repeat center center/cover;
}

.profile__image {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 50%;
  background: url("../assets/profile2.jpg") no-repeat center center/cover;
}

.profile__name {
  font-size: 2.7em;
  font-weight: bold;
}

.profile__subetext {
  margin-top: 2rem;
}

/*====== Main Section  ======*/

.page__main {
  display: flex;
  justify-content: center;
  height: 100px;
  margin-top: 2rem;

  border: 1px solid blue;
  background: coral;
}

.page__main .page__main__container {
  width: 100%;
  max-width: 750px;
  min-width: 600px;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid red;
  background-color: chartreuse;
}

/*====== Footer Section  ======*/
