/* ==========================================
   style.css
   Author: Saddam Arbaa
========================================== */

:root {
  --primary: #666;
  --white: #fff;
  --red: #f00;
  --footer-color: #929eaa;
  --footer-background-color: #eaecee70;
  --margin-top: 2rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*======  Start The Header Section  ======*/

.page__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  color: var(--white);
  background: url("../assets/banner.jpeg") no-repeat center center/cover;
  position: relative;
}

.profile__image {
  width: 150px;
  height: 150px;
  background: var(--white);
  border-radius: 50%;
  background: url("../assets/profile2.jpg") no-repeat center center/cover;
}

.profile__name {
  font-size: 2.7em;
  font-weight: bold;
}

.profile__subtext {
  margin-top: 8px;
}

.page__header::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

/* header > * {z-index: 100;} */

.profile__image,
.profile__name,
.profile__subtext {
  z-index: 100;
}

/*======  Start The Main Section  ======*/

.page__main {
  display: flex;
  justify-content: center;
  margin-top: var(--margin-top);

  border: 1px solid blue;
  background: coral;
  height: 100px;
}

.page__main .page__main__container {
  width: 100%;
  max-width: 750px;
  min-width: 600px;
  padding-left: 1rem;
  padding-right: 1rem;

  border: 1px solid red;
  background-color: chartreuse;
}

/*======  Start the Footer Section  ======*/

.page__footer {
  margin-top: var(--margin-top);
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-background-color);
  color: var(--footer-color);
  font-size: 1rem;
}

.page__footer .fa-heart {
  color: var(--red);
  font-size: 1.2rem;
}

.page__footer a {
  text-decoration: none;
  color: var(--footer-color);
}
